terraform {
  required_version = ">= 0.12"
}

{% include "azure/provider.tf.j2" %}

resource "azurerm_resource_group" "infracode" {
    name = "ManagedByInfracode"
    location = var.azure_location
}

{% include "azure/network.tf.j2" %}
{% include "azure/outputs.tf.j2" %}