terraform {
  required_version = ">= 0.12"
  required_providers {
    azurerm = {
      source  = "hashicorp/azurerm"
      version = "~>2.0"
    }
  }
}

{% include "azure/provider.tf.j2" %}

resource "azurerm_resource_group" "infracode" {
    name = "ManagedByInfracode"
    location = var.azure_location
}

{% include "azure/network.tf.j2" %}
{% include "azure/server.tf.j2" %}
{% include "azure/outputs.tf.j2" %}
