{% for server in data.servers %}
resource "azurerm_public_ip" "{{ server.name }}-public-ip" {
  name                         = format("{{ server.name }}-public-ip-%d", count.index)
  location                     = var.azure_location
  resource_group_name          = azurerm_resource_group.infracode.name
  allocation_method            = "Dynamic"
  count                        = {{ server.count }}
}

resource "azurerm_network_interface" "{{ server.name }}-network-int" {
  name                = format("{{ server.name }}-network-int-%d", count.index)
  location            = var.azure_location
  resource_group_name = azurerm_resource_group.infracode.name
  count               = "{{ server.count }}"

  ip_configuration {
    name                          = format("{{ server.name }}-interface-%d", count.index)
    subnet_id                     = azurerm_subnet.{{ server.subnet}}.id
    private_ip_address_allocation = "Dynamic"
    public_ip_address_id          = azurerm_public_ip.{{ server.name }}-public-ip[count.index].id
  }
}
{% endfor %}
