variable "azure_location" {
  description = "Azure region"
  type = string
}

variable "main_cidr" {
  description = "Azure region"
  type = list
}

variable "public_subnets" {
  description = "Azure region"
  type = list
}

variable "tenant_id" {
  description = "Azure region"
  type = string
}

variable "subscription_id" {
  description = "Azure region"
  type = string
}
