variable "azure_location" {
  description = "Azure region"
  type = string
}

variable "main_cidr" {
  description = "CIDR for a main network"
  type = list
}

variable "public_subnets" {
  description = "Public networks"
  type = list
}

variable "private_subnets" {
  description = "Private networks"
  type = list
}

variable "tenant_id" {
  description = "Tenant ID in subscription"
  type = string
}

variable "subscription_id" {
  description = "Subscription ID"
  type = string
}

variable "ssh_key_path" {
  description = "Path to the local public SSH key"
  type     = string
}

variable "ssh_priv_key_path" {
  description = "Path to the local private SSH key"
  type     = string
}

variable "server_additional_tags" {
  description = "Tags for each server"
  type     = map
}
