data "aws_ami" "search" {
  most_recent = true

 filter {
    name   = "virtualization-type"
    values = ["hvm"]
  }

  name_regex = lookup(var.amis_os_map_regex, var.os)
  owners= [length(var.amis_primary_owners) == 0 ? lookup(var.amis_os_map_owners, var.os):var.amis_primary_owners]
}

output "ami_id" {
  description = "The AMI id result of the search"
  value = data.aws_ami.search.id
}
