terraform {
  required_version = ">= 0.12"
}

{% include "aws/provider.tf.j2" %}

{% include "aws/datasource.tf.j2" %}
{% include "aws/network.tf.j2" %}
{% include "aws/keypair.tf.j2" %}
{% include "aws/server.tf.j2" %}
{% include "aws/outputs.tf.j2" %}
