{% for server in data.servers %}
resource "aws_security_group" "{{ server.name }}-security-group" {
  name        = "{{ server.name }}-sg"
  description = "Used in the terraform"
  vpc_id      = aws_vpc.main.id
{% for sec in server.security_groups %}
{% if sec.direction == 'ingress' %}
  ingress {
    from_port   = {{ sec.from_port }}
    to_port     = {{ sec.to_port }}
    protocol    = "{{ sec.protocol }}"{% if sec.cidr_blocks %}
    cidr_blocks = {{ sec.cidr_blocks|tojson }}{% endif %}{% if sec.security_groups %}
    security_groups = [aws_security_group.{{ sec.security_groups }}.id]{% endif %}
  }
{% elif sec.direction == 'egress' %}
# outbound internet access
  egress {
    from_port   = {{ sec.from_port }}
    to_port     = {{ sec.to_port }}
    protocol    = "{{ sec.protocol }}"{% if sec.cidr_blocks %}
    cidr_blocks = {{ sec.cidr_blocks|tojson }}{% endif %}{% if sec.security_groups %}
    security_groups = [aws_security_group.{{ sec.security_groups }}.id]{% endif %}
  }
{% endif %}
{% endfor %}
}
{% endfor %}
