{% for server in data.servers %}
{% if server.elastic %}
output "{{ server.name }}-ip" {
  value = aws_eip.{{ server.name }}-eip.*.{{ server.subnet_type }}_ip
}
{% else %}
output "{{ server.name }}-ip" {
  value = aws_instance.{{ server.name }}.*.{{ server.subnet_type }}_ip
}
{% endif %}
{% endfor %}
