aws_region = "{{ data.provider.region }}"
main_cidr = "{{ data.provider.vpc_network }}"
public_subnets = {{ data.provider.public_subnets }}
ssh_key_path = "{{ data.provider.ssh_key_path }}"
ssh_priv_key_path = "{{ data.provider.ssh_key_path | replace('.pub', '') }}"
key_name = "mykey"
server_additional_tags = {}
os = "ubuntu-20.04"
