{# variable "access_key" {
  description = "AWS Access Key"
}

variable "secret_key" {
  description = "AWS Secret Key"
} #}

variable "aws_region" {
  description = "AWS region"
  type = string
}

variable "main_cidr" {
    description = "VPC CIDR for main network"
    type = string
}

variable "public_subnets" {
    description = "CIDR blocks for public subnets"
    type = list(string)
}

variable "ssh_key_path" {
  description = "Path to the local public SSH key"
  type     = string
}

variable "ssh_priv_key_path" {
  description = "Path to the local private SSH key"
  type     = string
}

variable "key_name" {
  description = "SSH key pair name"
  type     = string
}

variable "server_additional_tags" {
  description = "Tags for each server"
  type     = map
}

variable "ami_user_map" {
  description = "Mapping of user to OS"
  default = {
    "ubuntu"       = "ubuntu"
    "ubuntu-14.04" = "ubuntu"
    "ubuntu-16.04" = "ubuntu"
    "ubuntu-18.04" = "ubuntu"
    "ubuntu-18.10" = "ubuntu"
    "ubuntu-19.04" = "ubuntu"
    "ubuntu-20.04" = "ubuntu"
    "centos"       = "centos"
    "centos-6"     = "centos"
    "centos-7"     = "centos"
    "centos-8"     = "centos"
    "rhel"         = "cloud-user"
    "rhel-6"       = "cloud-user"
    "rhel-7"       = "cloud-user"
    "rhel-8"       = "cloud-user"
    "debian"       = "admin"
    "debian-8"     = "admin"
    "debian-9"     = "admin"
    "debian-10"    = "admin"
    "fedora-31"    = "fedora"
    "fedora-32"    = "fedora"
    "fedora-33"    = "fedora"
    "amazon"       = "ec2-user"
    "amazon-2_lts" = "ec2-user"
    "suse-les"     = "ec2-user"
    "suse-les-12"  = "ec2-user"
    "windows"      = "ec2-user"
    "windows-2019-base"    = "ec2-user"
    "windows-2016-base"    = "ec2-user"
    "windows-2012-r2-base" = "ec2-user"
    "windows-2012-base"    = "ec2-user"
    "windows-2008-r2-base" = "ec2-user"
  }
}

variable "os" {
   description = "Os reference to search for"
}

variable "amis_primary_owners" {
   description = "Force the ami Owner, could be (self) or specific (id)"
   default     = ""
}

variable "amis_os_map_regex" {
  description = "Map of regex to search amis"
  type = map

  default = {
    "ubuntu"       = "^ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-.*"
    "ubuntu-14.04" = "^ubuntu/images/hvm-ssd/ubuntu-trusty-14.04-amd64-server-.*"
    "ubuntu-16.04" = "^ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-.*"
    "ubuntu-18.04" = "^ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-.*"
    "ubuntu-18.10" = "^ubuntu/images/hvm-ssd/ubuntu-cosmic-18.10-amd64-server-.*"
    "ubuntu-19.04" = "^ubuntu/images/hvm-ssd/ubuntu-disco-19.04-amd64-server-.*"
    "ubuntu-20.04" = "^ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-.*"
    "centos"       = "^CentOS.Linux.7.*x86_64.*"
    "centos-6"     = "^CentOS.Linux.6.*x86_64.*"
    "centos-7"     = "^CentOS.Linux.7.*x86_64.*"
    "centos-8"     = "^CentOS.Linux.8.*x86_64.*"
    "rhel"         = "^RHEL-7.*x86_64.*"
    "rhel-6"       = "^RHEL-6.*x86_64.*"
    "rhel-7"       = "^RHEL-7.*x86_64.*"
    "rhel-8"       = "^RHEL-8.*x86_64.*"
    "debian"       = "^debian-stretch-.*"
    "debian-8"     = "^debian-jessie-.*"
    "debian-9"     = "^debian-stretch-.*"
    "debian-10"    = "^debian-10-.*"
    "fedora-31"    = "^Fedora-Cloud-Base-31-.*x86_64-hvm-.*-gp2-.*"
    "fedora-32"    = "^Fedora-Cloud-Base-32-.*x86_64-hvm-.*-gp2-.*"
    "fedora-33"    = "^Fedora-Cloud-Base-33-.*x86_64-hvm-.*-gp2-.*"
    "amazon"       = "^amzn-ami-hvm-.*x86_64-gp2"
    "amazon-2_lts" = "^amzn2-ami-hvm-.*x86_64-gp2"
    "suse-les"     = "^suse-sles-12-sp\\d-v\\d{8}-hvm-ssd-x86_64"
    "suse-les-12"  = "^suse-sles-12-sp\\d-v\\d{8}-hvm-ssd-x86_64"
    "windows"      = "^Windows_Server-2019-English-Full-Base-.*"
    "windows-2019-base"    = "^Windows_Server-2019-English-Full-Base-.*"
    "windows-2016-base"    = "^Windows_Server-2016-English-Full-Base-.*"
    "windows-2012-r2-base" = "^Windows_Server-2012-R2_RTM-English-64Bit-Base-.*"
    "windows-2012-base"    = "^Windows_Server-2012-RTM-English-64Bit-Base-.*"
    "windows-2008-r2-base" = "^Windows_Server-2008-R2_SP1-English-64Bit-Base-.*"
  }
}

variable "amis_os_map_owners" {
  description = "Map of amis owner to filter only official amis"
  type = map
   default = {
      "ubuntu"       = "099720109477" #CANONICAL
      "ubuntu-14.04" = "099720109477" #CANONICAL
      "ubuntu-16.04" = "099720109477" #CANONICAL
      "ubuntu-18.04" = "099720109477" #CANONICAL
      "ubuntu-18.10" = "099720109477" #CANONICAL
      "ubuntu-19.04" = "099720109477" #CANONICAL
      "ubuntu-20.04" = "099720109477" #CANONICAL
      "rhel"         = "309956199498" #Amazon Web Services
      "rhel-6"       = "309956199498" #Amazon Web Services
      "rhel-7"       = "309956199498" #Amazon Web Services
      "rhel-8"       = "309956199498" #Amazon Web Services
      "centos"       = "679593333241"
      "centos-6"     = "679593333241"
      "centos-7"     = "679593333241"
      "centos-8"     = "679593333241"
      "debian"       = "679593333241"
      "debian-8"     = "679593333241"
      "debian-9"     = "679593333241"
      "debian-10"    = "136693071363"
      "fedora-31"    = "125523088429" #Fedora
      "fedora-32"    = "125523088429" #Fedora
      "fedora-33"    = "125523088429" #Fedora
      "amazon"       = "137112412989" #amazon
      "amazon-2_lts" = "137112412989" #amazon
      "suse-les"     = "013907871322" #amazon
      "suse-les-12"  = "013907871322" #amazon
      "windows"              = "801119661308" #amazon
      "windows-2019-base"    = "801119661308" #amazon
      "windows-2016-base"    = "801119661308" #amazon
      "windows-2012-r2-base" = "801119661308" #amazon
      "windows-2012-base"    = "801119661308" #amazon
      "windows-2008-r2-base" = "801119661308" #amazon
  }
}
