# Create a VPC to launch our instances into
resource "aws_vpc" "main" {
  cidr_block         = var.main_cidr
  enable_dns_support = true
}

resource "aws_subnet" "public-subnet" {
  vpc_id     = aws_vpc.main.id

  count = length(var.public_subnets)
  cidr_block = var.public_subnets[count.index]
  # availability_zone = var.availability_zones[count.index]
}

resource "aws_internet_gateway" "router" {
  vpc_id = aws_vpc.main.id
}

resource "aws_route_table" "public" {
  vpc_id = aws_vpc.main.id
}

resource "aws_route" "public" {
  route_table_id         = aws_route_table.public.id
  destination_cidr_block = "0.0.0.0/0"
  gateway_id             = aws_internet_gateway.router.id
}

resource "aws_route_table_association" "public" {
  count = length(var.public_subnets)

  subnet_id      = aws_subnet.public-subnet[count.index].id
  route_table_id = aws_route_table.public.id
}
